@import "colors"

.bg-light
  background-color: #fdfaf2 !important

.badge
  font-weight: 500 !important

.form-check-input:checked + .form-checked-content
  opacity: .5

  .btn
    pointer-events: none

.form-check-input-placeholder
  pointer-events: none
  border-style: dashed

[contenteditable]:focus
  outline: 0

.fw-500
  font-weight: 500

.h-100px
  height: 100px !important

.img-cover
  object-fit: cover

.img-contain
  object-fit: contain

//CALENDAR-20 PARTIALS
.fc-widget-header
  background-color: $color-med-gray !important
  padding: .25rem !important

.fc-list-heading-main
  padding-right: .25rem

.fc-list-heading-main, .fc-list-heading-alt
  color: $color-dark-gray
  font-weight: 500

.fc-list-item-time
  padding: .25rem

