@import "layout"
@import "variables"
@import "avatar"
@import "dragula"

html, body
  font-family: 'Rubik', sans-serif

.section-title, .project-header, .task-title, .card-title
  text-transform: capitalize

  *
    text-transform: capitalize
